body {
	font-family: Arial, Helvetica, sans-serif;
	background: url("../images/full-bloom.png");
}

h2 {
	color: #4aaaa5;
}

/* nav bar-heading */
nav {
	/* doesn't go all the way to the edge - needs space under it */
	border-bottom: 2px solid gray;
	margin-left: 0;
	margin-right: 0;
}

ul {
	font-family: Georgia, 'Times New Roman', Times, serif;
	list-style-type: none;
	margin: 0px 0px 15px 0px;
	padding: 0;
	overflow: hidden;
	/* background-color: orange; */
}

li {
	/* too far right should be in line with right edge of content box */
	float: right;
	margin-left: 50px;
}

li a {
	display: block;
	padding: 15px;
	color: #777777;
	/* margin-left: 120px; */
}

a:link {
	text-decoration: none;
}
/* end of nav bar section */

/* logo not in same position on each pager - correct on index */
#logo-link {
	color: white;
}

#logo {
	float: left;
	width: 200px;
	height: 60px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background: #4aaaa5;
	margin-top: 0px;
	margin-left: 140px;
}
/* end of logo box section */

/* photo grid - this is a mess - need lables on photos*/
.grid-wrapper {
	/* project grid - CSS Grid */
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
	/* makes img fill the entire card */
	width: 100%;
}

.box {
	/* resize photos for grid */
	padding: 10px;
	margin: 20px;
}

img {
	float: left;
	padding: 20px;
}
/* end of photo grid section */

/* close but not quite right */
.content-box {
	/* border-top: 2px solid gray; */
	width: 900px;
	height: 500px;
	padding: 20px;
	/* border: 5px solid gray; */
	margin: auto;
	background: #ffffff;
	/* position: relative;
	Width: 900px;
	height: 900px; */
}

/* form */
/* text color needs changed - submit button needs styled */
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

textarea {
	height: 200px;
	width: 98%;
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ccc;
}
/* end of form */

/* This appears to be done!!! */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #666666;
	text-align: center;
	padding: 15px 0;
	font-size: 12px;
	color: #ffffff;
	border-top: 8px solid #4aaaa5;
	height: 30px;
	line-height: 60px;
}
/* end of footer */
